* {
	margin: 0;
	padding: 0;
}

.bold {
	font-weight: bold; 
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

a {
	color: black;
	text-decoration: none;
}

.hide {
	display: none !important;
}

.top_align {
	vertical-align: top !important;
}

/* #F6921E */

body {
	font-family: 'Roboto-Medium';
}

section {
	margin: 0 auto;
	width: 896px;
}

section.main {
    height: 1332px;
}

/* ----------- HEADER ----------- */

header, footer {
	font-size: 12px;
	color: #929292;
	height: 112px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 34px;
}

address {
	float: left;
	margin: 48px 0 0px 220px;
	font-style: normal;
}

address .email {
	margin-left: 30px;
}

/* ----------- SLIDES ----------- */

#banner {
	margin: 0 auto;
}

#slides {
	/*width: 752px;*/
	width: 960px;
	height: 445px;
	display:none;
	/*margin-left: 208px;*/
	margin-bottom: 67px;
	overflow: initial !important;
}

#slides img {
	width: 752px;
	height: 445px;
}

.slidesjs-pagination {
	display: none;
}

.slidesjs-next, .slidesjs-previous {
	width: 64px;
	height: 64px;
	border: 3px solid #F6921E;
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    top: 226px;
	background-repeat: no-repeat;
    background-position: center;
	z-index: 12;
}

.slidesjs-previous {
	border-right-width: 2px;
    background-image: url(../images/previous.png);
    position: absolute;
    left: 72px;
}

.slidesjs-previous:hover {
    background-image: url(../images/previous-hover.jpg);
	background-color: #F6921E;
}

.slidesjs-next {
	border-left-width: 1px;
	background-image: url(../images/next.png);
	position: absolute;
    left: 141px;
}

.slidesjs-next:hover {
    background-image: url(../images/next-hover.jpg);
	background-color: #F6921E;
}

#banner {
	clear: both;
	position: relative;
}	

#slogan {
	position: absolute;
	font-family: 'Conv_PFDinTextCompPro-Medium';
	width: 452px;
	background-color: white;
	font-size: 60px;
	top: 77px;
	z-index: 12;
	line-height: 64px;
	padding: 5px 0 16px;
}


/* ----------- PRODUCTS ----------- */

#products, #about {
	font-family: 'Kelson Sans';
}

#products {
	float: right;
	width: 400px;
	font-weight: 700;
}

#products h2 {
	margin: 0 0 38px 99px;
	font-size: 32px;
}

#products .figures {
	float: right;
}

#products figure {
    padding: 20px;
    display: block;
    width: 90px;
	height: 134px;
    float: right;
    margin: 0 0 43px 28px;
    text-align: center;
	border: 4px solid #CCCCCC;
	position:relative;
}

#products figure img {
	position:absolute;
    top: -30px;
    bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

#products figure figcaption {
	text-align: left;
	vertical-align: bottom;
	display: inline-block;
	position: absolute;
	font-size: 14px;
	bottom: 15px;
	left: 18px;
}

#products figure.second {
	/*border: 4px solid #F6921E;*/
}

#products #download-price-list {
	cursor: pointer;
	border: 4px solid #F6921E;
	background-image: url(../images/products/download.jpg);
}

#products #download-price-list:hover {
	background-image: url(../images/products/download-hover.jpg);
	color: white;
}


/* ----------- ABOUT ----------- */

#about {
	float: left;
	width: 490px;
}

#about h2 {
	font-size: 32px;
	margin: 0 0 20px 124px;
}

#about p {
	font-family: 'PT Serif';
	font-size: 14px;
	line-height: 23px;
	margin: 0 0 40px 124px;
	display: inline-block;
}

#about p.bold {
	font-size: 14px;
	margin-left: 35px;
	line-height: 25px;
    margin-bottom: 7px;
}

#about ul {
	font-size: 14px;
    font-family: 'PT Serif';
    margin-left: 51px;
    font-weight: bold;
}

.quote-open {
	margin: 0 0 0 -28px;
}

.quote-close {
	margin-bottom: -19px;
    margin-left: 190px;
}


/* ----------- START REQUEST ----------- */

#start-request {
	clear: both;
	text-align: center;
	width: 573px;
	height: 355px;
	/*padding: 62px 0 44px;*/
	margin: 100px auto 0;
	border: 4px solid #CCCCCC;
}

#start-request h2, #clients h2, .section-header {
	font-family: 'Kelson Sans';
	font-size: 32px;
	font-weight: bold;
	margin: 55px 0 29px;
}

#start-request p {
	font-family: 'PT serif';
	font-size: 14px;
	line-height: 23px;
}

.btn {
	border: 3px solid #F6921E;
	font-family: 'Kelson Sans';
	font-size: 19px;
	background: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #F6921E;
	color: white;
}

#start-request button {
	margin-top: 41px;
	width: 207px;
	height: 55px;
}

.arrow {
	font-size: 30px;
	vertical-align: middle;
    line-height: 40px;
	margin-left: 34px;
}



/* ----------- CLIENTS ----------- */


#clients, #news {
	text-align: center;
	margin-top: 103px;
	width: 960px;
	margin: 103px auto 0;
    clear: both;
}

#clients h2, #news h2 {
	margin-bottom: 50px;
}

#clients .clients-logos {
	width: 792px;
	display: inline-block;
	height: 121px;
	vertical-align: top;
}

#clients img {
	/*vertical-align: middle;*/
	margin: 0 19px;
	/*display: inline-block;*/
}

.previous, .next {
	display: inline-block;
	cursor: pointer;
	width: 70px;
    height: 76px;
    background-repeat: no-repeat;
	text-align: center;
	/*vertical-align: middle;*/
}

.previous {
	background-image: url(../images/clients/previous.jpg)
}

.next {
	background-image: url(../images/clients/next.jpg)
}

.previous:hover {
	background-image: url(../images/clients/previous-hover.jpg)
} 

.next:hover {
	background-image: url(../images/clients/next-hover.jpg)
}



/* -----------NEWS----------- */

.news-items {
	width: 792px;
	display: inline-block;
	height: 121px;
	vertical-align: top;
    margin-top: 8px;
}

.news-items div {
    width: 198px;
    display: inline-block;
    margin: 0 16px;
    font-family: 'PT Serif';
    font-size: 14px;
    vertical-align: middle;
}

.news_date {
	font-size: 13px;
    color: grey;
    display: block;
    line-height: 27px;
}

/* -----------//NEWS----------- */




/* ----------- MAP ----------- */

#map {
	width: 1260px;
	margin: 65px auto 0;
}


@media only screen and (max-device-width: 480px) {
	
#map {
	width: 960px;
	margin: 65px auto 0;
}

}


/* ----------- FOOTER ----------- */

footer {
	width: 958px;
	margin: 13px auto 0;
}

footer .logo {
    width: 176px;
}

footer address {
	margin-left: 251px;
}



/* ----------- MAIN FORM ----------- */

#form-background {
	opacity: 0.5;
    z-index: 15;
    width: 100%;
    height: 2787px;
    display: block;
    position: absolute;
    background-color: black;
    top: 0;
	display: none;
}


#main-form {
	background-color: white;
	z-index: 20;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 0px 100px 30px 140px;
	display: none;
}

#main-form #close {
	float: right;
    margin: 18px -74px 0px 0px;
    cursor: pointer;
    width: 28px;
}

#main-form h2 {
	font-family: 'Kelson Sans';
	font-size: 28px;
	font-weight: bold;
	/*clear: right;*/
	margin: 33px 0 20px;
}

#main-form .step-info {
	font-family: 'Kelson Sans';
	font-weight: bold;
	color: #B3B3B3;
	font-size: 14px;
	margin: 7px 0 35px;
}

#main-form .step-info span {
	margin-right: 26px;
}

#main-form .step-info .active {
	color: #333333;
}

#main-form .field {
	font-family: 'PT Serif';
	font-size: 14px;
	margin-bottom: 25px; 	
}


#main-form label {
	width: 189px;
	display: inline-block;
	vertical-align: middle;
}

#main-form input, #main-form select, #main-form textarea {
	background-color: #F2F2F2;
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 174px;
	height: 26px;
	padding-left: 14px;
	font-size: 14px;
	vertical-align: middle;
}

#main-form select {
	width: 190px;
	height: 29px;
	padding: 0 16px;
	cursor: pointer;
}

#main-form .with_upload_link {
	margin-bottom: 15px;
}

#main-form #color {
	width: 131px;
	margin-right: 25px;
}

#main-form #size {
	width: 113px;
}

#main-form textarea {
	width: 280px;
	height: 80px;
	margin-top: 3px;
}

#main-form input:focus, #main-form select:focus, #main-form textarea:focus {
	border: 1px solid #E6E6E6;
	background-color: #FCFCFC;
}

#upload {
    display:none
}

#upload_link {
    margin-left: 191px;
    font-size: 13px;
    margin-top: 5px;
    color: #0071BC;
    border-bottom: 1px dashed #0071BC;
    width: 122px;
	display: inline-block;
}

.success_upload {
	vertical-align: bottom;
    display: inline-block;
    color: #F6921E;
    font-size: 17px;
    line-height: 21px;
}

#main-form .btn {
	padding: 3px 33px;
	margin-left: 193px;
	display: block;
	margin-top: 20px;
}

#main-form .btn .arrow {
	margin-left: 36px;
}

#request-form {
	/*display: none;*/
}

#first-step {
	/*display: none;*/
}

#first-step .btn {
	width: 92px;
}

#second-step {
	display: none;
}

#second-step .field {
	margin-bottom: 48px;
}

#second-step .btn {
	width: 180px;
	height: 50px;
	margin-right: 58px;
}

#second-step .btn .arrow {
	margin-left: 26px;
}

#final-step {
	display: none;
	width: 440px;
	height: 139px;
	padding-top: 94px;
}

#final-step p {
	font-family: 'PT Serif';
	font-size: 14px;
	width: 397px;
}

#final-step img {
	clear: both;
	float: left;
	margin-right: 30px;
}

.not_valid {
	border: 1px solid #DC4545 !important;
}

span.error {
    margin-left: 8px;
    color: #DC4545;
}

#final-step h2 {
	margin: 0 0 17px;
}

